@using Excursion.ViewModels
@model BookViewModel

@{
    ViewData["Title"] = "Book";
}

<div class="form">

    <h2>Book</h2>
    <br>
    <form asp-action="Book">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@Model.Tour.Name" class="@Model.Tour.Name">Excursion Name</label>
            <input asp-for="@Model.Tour.Name" class="form-control" disabled />
            <span asp-validation-for="@Model.Tour.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TourDate" class="Date">Date</label>
            <input id="TourDate" asp-for="TourDate" class="form-control" type="date" />
            <span asp-validation-for="@Model.Tour.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumberOfGuests" class="NumberOfGuests">Number Of Guests</label>
            <input asp-for="NumberOfGuests" class="form-control" value="1" min="1" max="8" />
            <input id="Tour_Price" asp-for="@Model.Tour.Price" class="form-control" hidden />
            <span asp-validation-for="@Model.Tour.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookingNotes" class="BookingNotes">Notes:</label>
            <input asp-for="BookingNotes" class="form-control" required />
            <span asp-validation-for="@Model.Tour.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalCost" class="TotalCost">Total Cost</label>
            <input asp-for="TotalCost" class="form-control" disabled />
            <span asp-validation-for="TotalCost" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input class="button" asp-controller="Booking" asp-action="Book" asp-route-id="@Model.Tour.Id" type="submit"
                value="Book Now" />
            <a class="button" asp-controller="Tour" asp-action="Index">Cancel</a>
        </div>
    </form>

</div>

@section Scripts {
    <script>
        window.onload = function () {
            var date = new Date();
            date.setDate(date.getDate() + 1);  // Set the date to tomorrow

            // Format the date in YYYY-MM-DD format
            var dateString = date.toISOString().split('T')[0];
            document.getElementById('TourDate').defaultValue = dateString;
            document.getElementById('TourDate').setAttribute('min', dateString);
        };

        // Get pricePerGuest from the hidden input field.
        var pricePerGuest = Number(document.getElementById('Tour_Price').value);

        // Event listener for when number of guests changes.
        document.getElementById('NumberOfGuests').addEventListener('input', updateTotalCost);

        // Function to update total cost.
        function updateTotalCost() {
            var numberOfGuests = Number(document.getElementById('NumberOfGuests').value);
            var totalCost = pricePerGuest * numberOfGuests;
            document.getElementById('TotalCost').value = '£' + totalCost.toFixed(2);
        }

        // Call updateTotalCost function when page loads.
        document.addEventListener('DOMContentLoaded', updateTotalCost);

    </script>
}
